.player-page {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.card {
  border: none;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item a:hover {
  text-decoration: underline !important;
}

